* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

#modal-btn {
    border: none;
    background: none;
    color: rebeccapurple;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    margin: 10% auto;
    width: 600px;
    background-color: steelblue;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: modalOpen;
    animation-duration: var(--modal-duration);
}

@keyframes modalOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 25%;
    }
}

form input, form textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

form textarea {
    height: 100%;
}

form label {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 5px 0;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: inherit;
    margin-top: 10px;
    width: 100%;
}

.btn:hover {
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.ideas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.ideas .card {
    position: relative;
    background-color: #fff;
    margin: 10px;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tag {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

.tag-technology {
    background: steelblue;
}

.tag-software {
    background: coral;
}

.tag-business {
    background-color: #0f0;
}

.tag-education {
    background-color: purple;
}

.tag-health {
    background-color: #f00;
}

.tag-inventions {
    background-color: orange;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #f00;
    background: none;
    border: none;
}

.delete:hover {
    color: #000;
}

.date {
    color: #999;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .modal-box {
        width: 90%;
    }
}